
.navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
  padding: 0.5rem 0;
}
.navbar-toggler-icon {
  color: #fff !important;
  background-color: #fff !important;
}
.offcanvas {
  background-color: #202833 !important;
}

.navbar-toggler {
  background-color: #fff !important;
  padding: 0.5rem 0;
  border-radius: 5px;
}

body {
  padding-top: 120px;
}
