body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
    font-family: 'Arial', sans-serif;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
