
body:not(.auth-page) {
    padding-top: 140px !important; 
}


.back-button-container {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    margin-bottom: 20px !important; 
    z-index: 1020 !important;
    display: inline-block; 
}


body:not(.auth-page) main {
    padding-top: 0 !important;
}


main > .container-fluid > .row:first-child {
    margin-top: 10px !important;
}