.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

body:not(.auth-page) main {
  margin-top: 110px !important;
}

body.auth-page main {
  margin-top: 0 !important;
}
